.create-schedule-button {
    margin: 10px;
    position: absolute;
    top: 75px;
    right: 20px;
    width: 120px;
    height: 40px;
}

.month-version-button {
    margin: 10px;
    position: absolute;
    top: 75px;
    left: 10px;
    width: 120px;
    height: 40px;
}

.week-version-button {
    margin: 10px;
    position: absolute;
    top: 75px;
    left: 140px;
    width: 120px;
    height: 40px;
}

.when-to-meet-button {
    margin: 10px;
    position: absolute;
    top: 75px;
    right: 150px;
    width: 120px;
    height: 40px;
}

.when-to-meet-calendars {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.rbc-toolbar container {
    margin: 10px;
    top: 75px;
}

.when-to-meet-calendars .calendar {
    flex: 1;
    min-width: 300px;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.App-header,
.Dashboard-header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #a32125;
    color: rgb(0, 0, 0);
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
}

.login-signup,
.my-page-logout {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.login-signup a,
.my-page-logout a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 10px;
}

.sidebar-toggle {
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 998;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.App-sidebar {
    position: fixed;
    left: -285px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #f8f8f8;
    color: rgb(0, 0, 0);
    transition: left 0.3s;
    padding: 1em;
    z-index: 1000;
}

.App-sidebar.open {
    left: 0;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.create-project p {
    margin-top: 5px;
}

.my-projects {
    margin-top: 20px;
    width: 100%;
}

.my-projects h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
}


.project-item p {
    margin-top: 5px;
}

.App-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 2em;
    margin-top: 60px;
    /* Adjust based on header height */
    text-align: center;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;

}

.popup-inner {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    overflow-y: auto;
    max-height: 90%;
    z-index: 1002;
}

.popup-inner h2 {
    margin-bottom: 20px;
}

.popup-inner label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}

.popup-inner input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.popup-inner button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.popup-inner ul {
    list-style-type: none;
    padding: 0;
}

.popup-inner ul li {
    padding: 5px 0;
    margin-bottom: 10px;
    font-weight: bold;
}

.shifted {
    margin-left: 250px;
    /* To shift the main content when the sidebar is open */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 50% 투명도 */
    z-index: 999;
    /* 메인 콘텐츠보다 위에 오도록 설정 */
}

.modal-content {
    position: fixed;
    z-index: 1000;
    /* 오버레이보다 위에 오도록 설정 */
    /* 팝업 스타일링 */
}

body.modal-open {
    overflow: hidden;
    /* 스크롤 방지 */
}

.background-elements {
    pointer-events: none;
    /* 모든 상호작용 비활성화 */
}


.rbc-toolbar{
    transform: translate(-30px,-30px);
}
.rbc-btn-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rbc-toolbar .today-button {
    width: 70px;
    height: 30px;
    top: 50px;

}
