<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <SourceTree.Properties.Settings>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>962.66666666666663</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>550.66666666666663</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="LogOrdering" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogIncludeRemoteBranches" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="GitWhichOne" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AllowModifyConfigFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultFullName" serializeAs="String">
                <value>이다은</value>
            </setting>
            <setting name="DefaultEmail" serializeAs="String">
                <value>162148102+Amyleefiwfjj@users.noreply.github.com</value>
            </setting>
            <setting name="LastOpenTabIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AnonymousID" serializeAs="String">
                <value>56f82337-d061-4771-bfb2-361407a8493e</value>
            </setting>
            <setting name="SSHClientType" serializeAs="String">
                <value>PuTTY</value>
            </setting>
            <setting name="ProxyServerMode" serializeAs="String">
                <value>OperatingSystem</value>
            </setting>
            <setting name="HgWhichOne" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableGitSupport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHgSupport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GitCommitMergedChangesImmediately" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowScreenDeviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="OfferToCreateBookmarks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileStatusSort" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CommitPaneHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GitSystemPath" serializeAs="String">
                <value>C:\Program Files\Git</value>
            </setting>
            <setting name="HgSystemPath" serializeAs="String">
                <value>C:\Users\amyle\AppData\Local\Atlassian\SourceTree\hg_local</value>
            </setting>
            <setting name="LegacyAccountPersistenceServiceLoadEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SidebarIsOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationGettingStartedShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AasLastSubmitted" serializeAs="String">
                <value>08/02/2024 12:45:40</value>
            </setting>
            <setting name="PreviousCommitMessages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>헤더, 푸타, aboutus완료</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SourceTree.Properties.Settings>
    </userSettings>
</configuration>